@tailwind base;
@tailwind components;
@tailwind utilities;

/* шрифт/база */
:root {
  color-scheme: light;
}
::selection {
  @apply bg-brand-500/20;
}

/* глобальні утиліти інтерфейсу */
.btn {
  @apply inline-flex items-center rounded-lg px-4 py-2 text-sm font-medium transition active:translate-y-[1px];
}
.btn-primary {
  @apply bg-brand-500 text-white shadow-soft hover:bg-brand-600;
}
.btn-secondary {
  @apply border bg-white text-gray-900 hover:bg-gray-50;
}
.btn-ghost {
  @apply border bg-white hover:bg-gray-50;
}
.nav-link {
  @apply rounded-lg px-3 py-2 text-sm text-gray-700 hover:text-brand-600;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: #2563eb !important;
  text-decoration: underline !important;
}
.prose ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* трохи відступу зліва */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose li {
  margin-top: 0.25rem;
}
.prose code {
  @apply bg-gray-100 px-1 py-0.5 rounded text-sm font-mono text-pink-600;
}

.prose pre {
  @apply bg-gray-900 text-gray-100 p-4 rounded-lg overflow-x-auto my-3;
}

.prose pre code {
  @apply bg-transparent text-inherit p-0;
}
